body{
    width: 50%;
    margin: auto;
}

header{
    text-align: center;
    background-color: #ededed;
    border-bottom: solid 2px #cf8a05;
}

section h2{
    color: #cf8a05;
}

.item h3{
    font-style: italic;
}

main{
    margin-left: 15px;
}

hr{
    border-color: #cf8a05;
}

footer p{
    font-size: 12px;
}